#ignore all

/lab5/.jxbrowser-data/
/lab5/.metadata/
/lab5/.project
/lab4/.jxbrowser-data/
/lab4/.metadata/
/lab4/.project
/lab3/.jxbrowser-data/
/lab3/.metadata/
/python_files/.idea
/Project/.project
